In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("../data/gapminder.csv", sep=';')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10111 entries, 0 to 10110
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Country          10111 non-null  object
 1   Year             10111 non-null  int64
 2   fertility        10100 non-null  float64
 3   life             10111 non-null  float64
 4   population       10108 non-null  float64
 5   child_mortality  9210 non-null   float64
 6   gdp              9000 non-null   float64
 7   region           10111 non-null  object
dtypes: float64(5), int64(1), object(2)
memory usage: 632.1+ KB

In [4]:
df.describe()

,Year,fertility,life,population,child_mortality,gdp
count,10111.000000,10100.000000,10111.000000,1.010800e+04,9210.000000,9000.000000
mean,1988.514588,4.028719,64.078600,2.560448e+07,80.834505,12746.916667
std,14.430849,2.013968,11.122779,1.032383e+08,79.220942,17797.809953
min,1964.000000,0.836000,6.000000,1.170000e+03,2.000000,142.000000
25%,1976.000000,2.175750,56.282500,8.874062e+05,18.900000,2263.000000
50%,1989.000000,3.632500,67.157000,4.765781e+06,50.700000,6438.500000
75%,2001.000000,5.905250,72.484000,1.476995e+07,121.775000,15887.250000
max,2013.000000,9.223000,83.580000,1.359368e+09,435.800000,182668.000000

In [5]:
df.corr()

,Year,fertility,life,population,child_mortality,gdp
Year,1.000000,-0.415554,0.373894,0.055354,-0.422605,0.162082
fertility,-0.415554,1.000000,-0.832191,-0.087420,0.815373,-0.375873
life,0.373894,-0.832191,1.000000,0.033996,-0.939414,0.501173
population,0.055354,-0.087420,0.033996,1.000000,-0.020987,-0.046898
child_mortality,-0.422605,0.815373,-0.939414,-0.020987,1.000000,-0.431782
gdp,0.162082,-0.375873,0.501173,-0.046898,-0.431782,1.000000